.ad-list-head-bgimg{
    background: url(../images/ad-bg-6.jpg) rgba(0, 0, 0, .6) no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
    color: #ffffff;
}

.ad-list-head {
    color: #ffffff;
}

.ad-list-head h1{
    font-size: 48px;
    font-weight: 800;
}

.adlist .card{
    margin: 15px 0px;
    width: 100%;
}

.mo-about-index a{
    font-size: 14px;
    width: 100%;
}

@media (max-width: 768px) {

    .ad-list-head h1{
        font-size: 32px;
        font-weight: 700;
    }

    .adlist .card{
        width: 100%;
        margin: 15px 0px;
    }
    
    .servier-title{
        font-size: 30px;
    }

    .servier-img img{
        width: 100%!important;
    }

}

@media (max-width: 576px) {

    .adlist .card{
        width: 100%;
        margin: 15px 0px;
    }

    .adlist .card img{
        height: 180px;
    }

    .ad-list-head h1{
        font-size: 28px;
        font-weight: 600;
    }
}