@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}


.index-hero-title{
    font-weight: 800;
    font-size: 58px;
}

.index-hero-sub-title{
    font-weight: 700;
    font-size: 28px;
}



/* 公共样式 */

.section{
    padding: 100px 0 100px 0;
}

.section-60{
    padding: 100px 0 20px 0;
}

.section-pt{
    padding-top: 100px;
}

.section-pb{
    padding-bottom: 50px;
}




/* 顶部信息样式 -- 开始 -- */

/* 蓝色渐变色条 */
.blue-gradient{
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
}

.top-info{
    padding: 6px 0;
    font-size: 14px;
}

.top-info a{
    color: #fff;
    text-decoration: none;
}

.top-info i{
    color: #fff;
    margin-right: 5px;
}

.toHOME{
    margin-right: 20px;
}

/* 顶部信息样式 -- 结束 -- */





/* 导航部分 -- 开始 -- */



/* 头部logo的大小 */
.top-logo img{
    width: 180px;
}

.nav-link{
    font-size: 16px;
    font-weight: 700;
}

.dropdown-menu{
    width: 230px;
}

.dropdown-item {
    padding: .85rem 1.5rem;
    font-weight: 400;
    color: #212529;
}

/* 当前 导航 active 颜色 */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #2051af
}

/*  */
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2051af
}



/* 导航部分 -- 结束 -- */


.hero-banner{
    background: url("../images/undraw_Online_collaboration_re_bkpm.svg") no-repeat right;
    background-size: 100%;
}

.jumbotron{
    background-color:unset
}

.bg-light-grey {
    background: #F9F9FB;
}


/*  */

.new-china-network-info{
    padding: 20px;
    text-align: right;
}

.new-china-network-info i{
    margin-top: 5px;
    font-size: 32px;
}

.new-china-network-info span{
    font-size: 18px;
    padding-left: 10px;
}



/*  */
.about-incross-img{
    width: 500px;
    
}

.about-incross-img img{
    width: 100%;
}

.about-incross-txt h2{
    font-size: 42px;
    line-height: 48px;
    font-weight: 800;
}

.title-under-line {
    position: relative;
}

.title-under-line:before {
    content: "";
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    position: absolute;
    height: 8px;
    width: 150px;
    bottom: -35px;
    left: 0;
}

.f-weight-400{
    font-weight: 400;
    font-size: 38px;
}

/*  */

/* our service2  开始 */
/* .section-title{
    margin-bottom: 100px;
} */


.section-title h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}

.section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title p {
    margin: 15px 0 0 0;
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.services .icon-box::before {
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: 30px;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}


/* our service2  结束 */






/*  */

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #68A4C4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-sub-title{
    text-align: right;
}

.section-sub-title h2{
    font-size: 28px;
    font-weight: 600;
}



.new-china-network-info-icon{
    text-align: center;
}

.new-china-network-info i{
    margin: 5px 0;
    font-size: 32px;
    color:#3498db;
}

.new-china-network-info h1{
    font-size: 32px;
    padding-left: 10px;
    font-weight: 600;
}

.new-china-network-info span{
    font-size: 16px;
    padding-left: 10px;
}




.img-fluid {
    max-width: 100%;
    height: auto;
}

.feature h3{
    font-weight: 400;
    font-size: 24px;
}

.feature ul{
    list-style: none;
}

.features ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #68A4C4;
}







/* go to china start */

.gotochina img{
    width: 90%;
}

.gotochina h2{
    width: 90%;
}



/* go to china end */




/* 脚部 开始 */

footer{
        background: #0C3A58;
        padding: 25px 0;
}


.company-foot-info{
    color: #F9F9FB;
}

.company-foot-info ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.company-foot-info ul li{
    margin-right: 15px;
    font-size: 14px;
}


.comoany-foot-copyright ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.comoany-foot-copyright ul li{
    color: #F9F9FB;
    margin-right: 20px;
    font-size: 14px;
}

.comoany-foot-copyright ul li a{
    color: #F9F9FB;
    text-decoration: none;
}


/*       */
/* 平板 */
/*       */



.show-more {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 80px;
    width: 100%;
    padding: 26px 148px;
    border-radius: 9px;
    background-color: #ebf3ff;
    text-align: center;
    font-size: 16px;
    color: #a1aecf;
    letter-spacing: 1px;
}

.logos img{
    width: 100%;
}


@media (max-width: 768px) {

    .section-pt{
        padding-top: 60px;
    }
    
    .section-pb{
        padding-bottom: 40px;
    }


    .gotochina h2{
        font-size: 26px;
    }

    
    .about-incross-img img{
        width: 100%;
    }
    
    .about-incross-txt h2{
        font-size: 42px;
        line-height: 48px;
        font-weight: 800;
    }

    .about-incross-txt span{
        font-size: 42px;
        line-height: 48px;
        font-weight: 800;
    }

    /* 手机端 导航 宽度 */
    .nav-link {
        padding: 1.2rem 1rem;
    }

    .dropdown-menu{
        width: 100%;
    }

    .section-sub-title h2{
        font-size: 20px;
        font-weight: 600;
        text-align: left;
    }


    .new-china-network-info{
        padding: 5px;
        text-align: center;
    }

    .new-china-network-info-icon{
        text-align: left;
    }
    
    .new-china-network-info i{
        margin: 5px 0;
        font-size: 24px;
    }

    .new-china-network-info h1{
        font-size: 18px;
        padding-left: 5px;
    }

    .new-china-network-info span{
        font-size: 14px;
        padding-left: 10px;
    }

    .new-china-network-info p{
        font-size: 14px;
    }

    .ask h2{
        font-size: 32px;
        font-weight: 600;
    }

    .ask img{
        width: 230px;
    }

    .services .icon-box {
        padding: 15px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }
    
    .services .icon-box::before {
        content: '';
        position: absolute;
        background: #e1f0fa;
        right: -60px;
        top: -40px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.3s;
        z-index: -1;
    }
    
    .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #3498db;
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-size: 25px;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .services .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
    }


    .company-foot-info img{
        width: 90%;
    }

    .pr—part{
        flex-direction: column-reverse;
    }

    .pr—part div img{
        width: 100%;
    }

 }


/*       */
/* 手机端 */
/*       */



 @media (max-width: 576px) {

    .gotochina h2{
        font-size: 21.5px;
    }

    .section-pt{
        padding-top: 40px;
    }
    
    .section-pb{
        padding-bottom: 25px;
    }


    .section-60{
        padding-top: 30px;
    }
    

    .big-logo{
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 16px;
    }

    .logos img{
        width: 160%;
    }

    .show-more {
        margin-top: 20px;
        padding: 15px;
    }

    .about-incross-img img{
        width: 100%;
    }
    
    .about-incross-txt h2{
        font-size: 28px;
        line-height: 48px;
        font-weight: 800;
    }

    .about-incross-txt h5{
        font-size: 18px;
        font-weight: 700;
    }

    .about-incross-txt span{
        font-size: 28px;
        line-height: 48px;
        font-weight: 800;
    }
    
    .section{
        padding: 60px 0;
    }

    .main-hero-bgcolor{
        background: url("../images/wallpaperflare.com_wallpaper.jpg") no-repeat center;
        color: #ffffff;
    }

    .index-hero-title{
        font-weight: 800;
        font-size: 36px;
    }

    .index-hero-sub-title{
        font-weight: 400;
        font-size: 28px;
    }

    .section-title{
        margin-bottom: 0px;
    }

    .section-title h2{
        font-size: 24px;
    }

    .section-title p{
        margin: 20px 0;
    }

    .section-sub-title h2{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0;
    }

    .new-china-network-info-icon{
        text-align: center;
    }

    .ask{
        text-align: center;
    }

    .ask h2{
        font-size: 28px;
    }


    .services .icon-box {
        padding: 15px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }
    
    .services .icon-box::before {
        content: '';
        position: absolute;
        background: #e1f0fa;
        right: -60px;
        top: -40px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.3s;
        z-index: -1;
    }
    
    .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #3498db;
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-size: 20px;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .services .description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .company-foot-info ul{
        flex-direction: column;
    }

    .company-foot-info ul li{
        margin: 5px 0;
    }

    .company-foot-info img{
        width: 50%;
    }
    
    .company-foot-info address{
        margin: 20px 0;
    }

    .comoany-foot-copyright ul{
        flex-direction: column;
    }

    .comoany-foot-copyright ul li{
        margin: 10px 0 0 0;
    }


 }