@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}


.icon-shape-primary {
    color: #ffffff;
    background-color: #0948b3
}

.not-found-404{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-404 i{
    font-size: 40px;
    margin-bottom: 15px;
    color: #848484;
}

.not-found-404 p{
    color: #848484;
}

.icon-shape {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.icon-shape span, .icon-shape svg {
    font-size: 2rem;
}


.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .5rem;
}

.list-group-item {
    border: 0;
}

.icon-success {
    color: #05a677;
}

.starter-template{
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.section{
    padding: 0px 0px;
}

.index .swiper-slide{
    max-height: 650px;
}

.index img{
    width: 100%;
}

.index-1{
    background: url(../images/china-map.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 50px ;
}

.index-2{
    background: url(../images/china-money.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 50px ;
}

.index-3{
    background: url(../images/china-incross.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 50px ;
}

.index-4{
    background: url(../images/china-di.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 50px ;
}


.index-1 .jumbotron, .index-2 .jumbotron,
.index-3 .jumbotron, .index-4 .jumbotron{
    background:rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.index-1 .jumbotron .lead, .index-2 .jumbotron .lead,
.index-3 .jumbotron .lead, .index-4 .jumbotron .lead{
    font-size: 25px;
}

.index-1 .jumbotron p, .index-2 .jumbotron p,
.index-3 .jumbotron p, .index-4 .jumbotron p{
    font-size: 20px;
    font-weight: 600;
}

.index-1 .jumbotron span, .index-2 .jumbotron span,
.index-3 .jumbotron span, .index-4 .jumbotron span{
    color: rgb(238, 238, 95);
}


.internet-user {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fff;
    border-left: 10px solid #5268F2;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0 5px 15px 0 rgb(194 188 210 / 20%);
    box-shadow: 0 5px 15px 0 rgb(194 188 210 / 20%);
}

.internet-user p{
    font-weight: 700;
    font-size: 18px;
}

.internet-user span{
    font-weight: 900;
    font-size: 26px;
    margin: 0 5px;
    color:#5268F2;
}


.funfact {
    background: #F7F8FC;
    padding: 40px 40px 40px;
    position: relative;
}

.funfact::before {
    content: "";
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.05;
    -moz-transform: translate(10px, 10px);
    -o-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.funfact .icon {
    margin-bottom: 30px;
    position: absolute;
    top: 45px;
    right: 15px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.funfact .counter {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.funfact .counter span{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.funfact .title {
    color: #747b87;
    position: relative;
    z-index: 2;
    font-weight: 900;
}

.funfact .icon i:before {
    font-size: 54px;
    color: #0c59db;
}


.total-job-count .job-count {
    margin-bottom: 30px;
}

.total-job-count .job-count h3 {
    font-weight: 600;
    font-size: 24px;
    color: #2042e3;
    margin-bottom: 0;
}

.total-job-count .job-count h3 span {
    font-size: 16px;
    color: #454545;
    position: relative;
    top: -4px;
    margin-right: 5px;
}

.about-box-wrap {
    margin-bottom: 10px;
}

.about-box-wrap .about-box {
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fff;
    border-left: 10px solid #5268F2;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0 5px 15px 0 rgb(194 188 210 / 20%);
    box-shadow: 0 5px 15px 0 rgb(194 188 210 / 20%);
}




.about-box-wrap .about-box h6 {
    font-size: 18px;
    font-weight: 800;
}

.about-box-wrap .about-box h5 {
    font-size: 38px;
    font-weight: 900;
    color: #5268F2;
}

.about-box-wrap .about-box span {
    font-size: 22px;
    color: #000;
    margin-left: 5px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
  }
  
  .features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
  }
  
  .features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  .features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
  }
  
  .features .feture-tabs {
    margin-top: 20px;
  }
  
  .features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .features .feture-tabs h3 {
      font-size: 28px;
    }
  }
  
  .features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
  }
  
  .features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
  }
  
  .features .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
  }
  
  .features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
  }
  
  .features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
  }
  
  .features .feature-icons {
    margin-top: 120px;
  }
  
  .features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .features .feature-icons h3 {
      font-size: 28px;
    }
  }
  
  .features .feature-icons .content .icon-box {
    display: flex;
  }
  
  .features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
  }
  
  .features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
  }
  
  .features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
  }


.index-hero-title{
    font-weight: 800;
    font-size: 58px;
}

.index-hero-sub-title{
    font-weight: 700;
    font-size: 34px;
}



.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}


.china-video h3 {
    margin-bottom: 10px;
}

.features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.icon-box h4 {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}

.icon-box i {
    font-size: 28px;
    line-height: 44px;
    color: #ffffff;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box {
    display: flex;
}

.img-full {
    width: 100%;
}

.cs-btn-one.btn-gradient-color {
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    color: #fff;
}

.cs-btn-one.btn-lg {
    font-size: 18px;
    padding: 15px 45px;
}


.cs-btn-one {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background-color: #0c59db;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    padding: 14px 42px;
    font-weight: 500;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.title-under-line{
    font-size: 42px;
}


.title-under-line:before {
    content: "";
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    position: absolute;
    height: 10px;
    width: 72px;
    bottom: -35px;
    left: 0;
}

.title-under-line:after {
    background: #ffffff;
    position: absolute;
    content: "";
    height: 2px;
    width: 30px;
    bottom: -31px;
    left: 0px;
}

.text-primary-color {
    color: #0c59db;
}

.sub-title-side-line {
    position: relative;
    padding-left: 60px;
    display: inline-block;
}

.sub-title-side-line:before {
    position: absolute;
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    height: 2px;
    width: 50px;
    content: "";
    top: 15px;
    left: 0;
}


.skills .skill-item {
    position: relative;
    margin-bottom: 20px;
}

.skills .skill-item .skill-header {
    position: relative;
    margin-bottom: 5px;
}

.skills .skill-item .skill-header .skill-percentage {
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 15px;
    font-weight: 600;
    color: #17305e;
}

.skills .skill-item .skill-bar {
    position: relative;
    width: 100%;
}

.skills .skill-item .skill-bar .bar-inner {
    position: relative;
    width: 100%;
    height: 20px;
    background: #EBEAF0;
    border-radius: 45px;
}

.skills .skill-item .skill-bar .bar-inner .bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 20px;
    background: linear-gradient(-20deg, #0E90D5, #3032A2) !important;
    -webkit-transition: all 2000ms ease;
    transition: all 2000ms ease;
    border-radius: 45px;
}

/* 公共样式 */

.section{
    padding: 30px 0px;
}

.section-60{
    padding: 100px 0 20px 0;
}

.section-pt{
    padding-top: 50px;
}

.section-pb{
    padding-bottom: 50px;
}




/* 顶部信息样式 -- 开始 -- */

/* 蓝色渐变色条 */
.blue-gradient{
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
}

.top-info{
    padding: 6px 0;
    font-size: 14px;
}

.top-info a{
    color: #fff;
    text-decoration: none;
}

.top-info i{
    color: #fff;
    margin-right: 5px;
}

.toHOME{
    margin-right: 20px;
}

/* 顶部信息样式 -- 结束 -- */





/* 导航部分 -- 开始 -- */



/* 头部logo的大小 */
.top-logo img{
    width: 180px;
}

.nav-link{
    font-size: 16px;
    font-weight: 700;
}

.dropdown-menu{
    width: 230px;
}

.dropdown-item {
    padding: .85rem 1.5rem;
    font-weight: 400;
    color: #212529;
}

/* 当前 导航 active 颜色 */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #2051af
}

/*  */
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2051af
}



/* 导航部分 -- 结束 -- */


.hero-banner{
    background: url("../images/undraw_Online_collaboration_re_bkpm.svg") no-repeat right;
    background-size: 100%;
}

.jumbotron{
    background-color:unset
}

.bg-light-grey {
    background: #f7f9fc;
}


/*  */

.new-china-network-info{
    padding: 15px;
}


.new-china-network-info span{
    font-size: 18px;
    padding-left: 10px;
}



/*  */
.about-incross-img{
    width: 500px;
    
}

.about-incross-img img{
    width: 100%;
}

.about-incross-txt h2{
    font-size: 42px;
    line-height: 48px;
    font-weight: 800;
}

.title-under-line {
    position: relative;
}

.title-under-line:before {
    content: "";
    background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
    position: absolute;
    height: 8px;
    width: 150px;
    bottom: -35px;
    left: 0;
}

.f-weight-400{
    font-weight: 400;
    font-size: 38px;
}

/*  */

/* our service2  开始 */
/* .section-title{
    margin-bottom: 100px;
} */



.section-title h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}


.section-title p {
    margin: 15px 0 0 0;
}

.services .icon-box {
    width: 100%;
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.services .icon-box::before {
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: 30px;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}


/* our service2  结束 */






/*  */

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}

.section-sub-title{
    text-align: right;
}

.section-sub-title h2{
    font-size: 28px;
    font-weight: 600;
}



.new-china-network-info-icon{
    text-align: center;
}


.new-china-network-info h1{
    font-size: 32px;
    font-weight: 600;
}

.new-china-network-info span{
    font-size: 16px;
    padding-left: 10px;
}




.img-fluid {
    max-width: 100%;
    height: auto;
}

.feature h3{
    font-weight: 400;
    font-size: 24px;
}

.feature ul{
    list-style: none;
}

.features ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #68A4C4;
}







/* go to china start */

.gotochina img{
    width: 90%;
}

.gotochina h2{
    width: 90%;
}



/* go to china end */




/* 脚部 开始 */

footer{
        background: #0C3A58;
        padding: 25px 0;
}


.company-foot-info{
    color: #F9F9FB;
}

.company-foot-info ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.company-foot-info ul li{
    margin-right: 15px;
    font-size: 14px;
}


.comoany-foot-copyright ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.comoany-foot-copyright ul li{
    color: #F9F9FB;
    margin-right: 20px;
    font-size: 14px;
}

.comoany-foot-copyright ul li a{
    color: #F9F9FB;
    text-decoration: none;
}


/*       */
/* 平板 */
/*       */



.show-more {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 80px;
    width: 100%;
    padding: 26px 148px;
    border-radius: 9px;
    background-color: #ebf3ff;
    text-align: center;
    font-size: 16px;
    color: #a1aecf;
    letter-spacing: 1px;
}

.logos img{
    width: 100%;
}


.partner-logos img{
    width: 100%;
}


@media (max-width: 768px) {

    .section-pt{
        padding-top: 20px;
    }
    
    .section-pb{
        padding-bottom: 20px;
    }


    .gotochina h2{
        font-size: 26px;
    }

    
    .about-incross-img img{
        width: 100%;
    }
    
    .about-incross-txt h2{
        font-size: 42px;
        line-height: 48px;
        font-weight: 800;
    }

    .about-incross-txt span{
        font-size: 42px;
        line-height: 48px;
        font-weight: 800;
    }

    /* 手机端 导航 宽度 */
    .nav-link {
        padding: 1.2rem 1rem;
    }

    .dropdown-menu{
        width: 100%;
    }

    .section-sub-title h2{
        font-size: 20px;
        font-weight: 600;
        text-align: left;
    }


    .new-china-network-info{
        padding: 5px;
        text-align: center;
    }

    .new-china-network-info-icon{
        text-align: left;
    }
    
    .new-china-network-info i{
        margin: 5px 0;
        font-size: 24px;
    }

    .new-china-network-info h1{
        font-size: 18px;
        padding-left: 5px;
    }

    .new-china-network-info span{
        font-size: 14px;
        padding-left: 10px;
    }

    .new-china-network-info p{
        font-size: 14px;
    }

    .ask h2{
        font-size: 32px;
        font-weight: 600;
    }

    .ask img{
        width: 230px;
    }

    .services .icon-box {
        padding: 15px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }
    
    .services .icon-box::before {
        content: '';
        position: absolute;
        background: #e1f0fa;
        right: -60px;
        top: -40px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.3s;
        z-index: -1;
    }
    
    .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #3498db;
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-size: 25px;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .services .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
    }


    .company-foot-info img{
        width: 90%;
    }

    .pr—part{
        flex-direction: column-reverse;
    }

    .pr—part div img{
        width: 100%;
    }

 }


/*       */
/* 手机端 */
/*       */



 @media (max-width: 576px) {
     .china-info p{
         font-size: 14px;
     }

    .partner-logos img{
        width: 100%;
    }

    .gotochina h2{
        width: 100%;
        font-size: 21.5px;
    }

    .gotochina{
        text-align: center;
    }

    .section-pt{
        padding-top: 25px;
    }
    
    .section-pb{
        padding-bottom: 25px;
    }


    .section-60{
        padding-top: 30px;
    }
    

    .big-logo{
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 16px;
    }

    .logos img{
        width: 160%;
    }

    .show-more {
        margin-top: 20px;
        padding: 15px;
    }

    .about-incross-img img{
        width: 100%;
    }
    
    .about-incross-txt h2{
        font-size: 28px;
        line-height: 48px;
        font-weight: 800;
    }

    .about-incross-txt h5{
        font-size: 18px;
        font-weight: 700;
    }

    .about-incross-txt span{
        font-size: 28px;
        line-height: 48px;
        font-weight: 800;
    }
    
    .section{
        padding: 60px 0;
    }

    /* 手机端搜首页封面 */
    .main-hero-bgcolor{
        background: url("../images/wallpaperflare.com_wallpaper.jpg") rgba(0, 0, 0, .3) no-repeat center;
        background-blend-mode: multiply;
        color: #ffffff;
    }

    .mo-about-index{
        background: url("../images/mo-.jpg") rgba(0, 0, 0, .6) no-repeat center;
        background-blend-mode: multiply;
        background-size: cover;
        color: #ffffff;
    }

    .index-hero-title{
        font-weight: 800;
        font-size: 36px;
    }

    .index-hero-sub-title{
        font-weight: 400;
        font-size: 28px;
    }

    .section-title{
        margin-bottom: 0px;
    }

    .section-title h2{
        font-size: 24px;
    }

    .section-title p{
        margin: 20px 0;
    }

    .section-sub-title h2{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0;
    }

    .new-china-network-info-icon{
        text-align: center;
    }

    .ask{
        text-align: center;
    }

    .ask h2{
        font-size: 28px;
    }


    .services .icon-box {
        padding: 15px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }
    
    .services .icon-box::before {
        content: '';
        position: absolute;
        background: #e1f0fa;
        right: -60px;
        top: -40px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.3s;
        z-index: -1;
    }
    
    .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #3498db;
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-size: 20px;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .services .description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .company-foot-info ul{
        flex-direction: column;
    }

    .company-foot-info ul li{
        margin: 5px 0;
    }

    .company-foot-info img{
        width: 50%;
    }
    
    .company-foot-info address{
        margin: 20px 0;
    }

    .comoany-foot-copyright ul{
        flex-direction: column;
    }

    .comoany-foot-copyright ul li{
        margin: 10px 0 0 0;
    }


 }